<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark navbar-custom mb-4 shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="RODS" height="90" class="me-2">
            <span th:href="@{/}">Alquiler Vacacional</span>
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="fa-solid fa-house me-1"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/houses}">
                        <i class="fa-solid fa-house-chimney me-1"></i> Casas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reviews}">
                        <i class="fa-regular fa-comments me-1"></i> Reseñas
                    </a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/amenities}">-->
<!--                        <i class="fa-solid fa-star me-1"></i> Amenities-->
<!--                    </a>-->
<!--                </li>-->
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
                    </a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">
                        <i class="fa-solid fa-user-plus"></i></i> Registro
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item me-1">
                    <a class="nav-link" th:href="@{/panel-control/{id}(id=${#authentication.principal.id})}">
                        <i class="fa-solid fa-code-fork"></i>Panel control
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item me-1">
                      <span class="text-light me-3">
                    <i class="fa-solid fa-user me-1"></i>
                    <span sec:authentication="name"></span>
                </span>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="nav-link btn btn-link p-1 border-0">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> Salir
                        </button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>