
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('PANEL DE CONTROL')}"></head>

<body>
<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1">

  <h2>Formulario de recomendación</h2>

<!--  Consumimos el Flash Attribute-->

    <div th:if="${errorMessage}" class="alert alert-success" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>

    <!--    Formulario de entrada de datos-->

  <form th:action="@{/recommended}" method="post" th:object="${recommendation}">
        <!--        Estimatedcheckin-->
      <input type="hidden" th:field="*{idHouseRecommended}" readonly></input>
      <input type="hidden" th:field="*{idUsuario}" readonly></input>
      <input type="hidden" th:field="*{firstNameFrom}" readonly></input>
      <input type="hidden" th:field="*{lastNameFrom}" readonly></input>

      <div class="mb-3">
        <label for="tokenfrom" class="form-label">Token personal : </label>
        <input type="text" class="form-control" id="tokenfrom"
               name="tokenfrom" th:field="*{tokenFrom}"
                required/>
      </div>
    <div class="mb-3">
      <label for="tokento" class="form-label">Token destinatario :</label>
      <input type="text" class="form-control" id="tokento"
             name="tokento" th:field="*{tokenTo}"
             />
    </div>
    <div class="mb-3">
      <label for="correofrom" class="form-label">Email personal : </label>
      <input type="text" class="form-control" id="correofrom"
             name="correofrom" th:field="*{emailFrom}"
             />
    </div>
    <div class="mb-3">
      <label for="correoto" class="form-label">Email destino :</label>
      <input type="text" class="form-control" id="correoto"
             name="correoto" th:field="*{emailTo}"
             />
    </div>
      <div class="mb-3">
          <label for="mensaje" class="form-label">Mensaje :</label>
          <textarea rows="4" class="form-control" id="mensaje"
                 name="correoto" th:field="*{message}" placeholder="Mensaje de recomendación"
          />
      </div>
      <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i>Guardar</button>
      <a th:href="@{/panel-control/{idUsuario}(idUsuario=${recommendation.idUsuario})}" class="btn btn-secondary"><i class="fa-solid fa-xmark"></i>Cancelar</a>

  </form>

  <footer th:replace="~{layout/footer :: footer}"></footer>
  <script th:replace="~{layout/footer :: scripts}"></script>
</main>

</body>
</html>

