<!DOCTYPE html>
<html lang="en">

<head th:replace="~{layout/head :: head('Vista de las reservas pendientes')}"></head>

<body>
<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1 my-4 shadow">

    <h2>Agenda Usuarios</h2>

<!--    Busqueda por nombre y apellidos-->

    <div>
        <a onclick="volverAtras()" class="btn btn-primary mb-2">
            <i class="fa-solid fa-backward"></i>Volver</a>
    </div>

    <div id="DivFiltrado"  class="mb-3">
        <h5>Búsqueda avanzada de usuarios</h5>
        <form th:action="@{/agenda-filter}" method="get" class="row align-items-end">
            <!-- Filtro por fecha menor -->
            <div class="col-auto">
                <label class="form-label form-label-sm">Texto para nombre o apellido</label>
                <input type="text" autofocus name="textfind" class="form-control form-control-sm"
                       placeholder="Texto" th:value="${param.textfind}">
            </div>
        </form>
    </div>

<!--    Tabla de usuarios-->

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Token</th>
            <th>Copiar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contacto : ${agenda}">
            <td th:text="|${contacto.firstName} ${contacto.lastName}|">Titulo</td>
            <td th:text="${contacto.tokenforRecommended}">Token</td>
            <td>
                <button class="btn btn-sm btn-brand"
                        th:data-token="${contacto.tokenforRecommended}"
                        onclick="guardarytoast(this.dataset.token)">
                    Copiar token
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Estructura del Toast (Oculto por defecto) -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="miToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-header bg-success text-white">
                <strong class="me-auto">Token copiado</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Token copiado al portapapeles.
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>
<script>
    function volverAtras() {
        if (window.history.length > 1) {
            // Retrocede una página en el historial
            window.history.back();
        } else {
        }
    }
    function guardarytoast(token) {
        navigator.clipboard.writeText(token);
        var toastElement = document.getElementById('miToast');
        var toast = new bootstrap.Toast(toastElement);
        toast.show();
    }



</script>
