<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="~{layout/head :: head('Formulario usuario')}"></header>
<body class="d-flex flex-column min-vh-100 bg-light">
<nav th:replace="~{layout/navbar :: navbar}"></nav>
<main class="container flex-grow-1 my-4">

  <h1 class="mb-0">
    <i class="fa-solid fa-user text-primary me-2"></i>
    <span th:text="${edit} ? 'Editar usuario' : 'Crear usuario'"></span>
  </h1>

  <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

  <form th:action="@{/users}" th:object="${user}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username"
             placeholder="pepe666" required th:field="*{username}" min="3" maxlength="100" autofocus>
    </div>
    <div class="mb-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email"
             placeholder="pepe@gmail.com" required th:field="*{email}">
    </div>
    <div class="mb-3">
      <label for="password">Contraseña</label>
      <input type="password" th:field="*{password}"
             class="form-control" id="password"
             minlength="4" th:required="${!edit}">
      <small th:if="${edit}" class="text-muted">Deja este campo vacío para conservar la misma contraseña.</small>
    </div>
    <div class="mb-3" sec:authorize="hasRole('ADMIN')">
      <label for="role" class="form-label">Rol (Permisos)</label>
      <select class="form-select" id="role" th:field="*{role}">
        <option
                th:each="role : ${roles}"
                th:value="${role}"
                th:text="${role.name()}">
        </option>
      </select>
    </div>
    <div class="mb-3 form-check" th:if="${edit}">
      <input type="checkbox" class="form-check-input" id="active" th:field="*{active}">
      <label class="form-check-label" for="active">Activo</label>
    </div>

    <!--
    <div class="mb-3">
      <label for="imageFile" class="form-label">Imagen</label>
      <input type="hidden" th:field="*{imageUrl}">

      <input type="file" class="form-control" id="imageFile" name="imageFile" accept="image/*">

      <img id="preview" alt="Previsualización" class="mt-2 rounded"
           style="max-height:150px; display:none"
           th:src="${user != null and user.imageUrl != null ? user.imageUrl : null}">
    </div>
    -->

    <button type="submit" class="btn btn-success">
      <i class="fa-solid fa-floppy-disk"></i> Guardar
    </button>
    <a th:href="@{/profile}" class="btn btn-secondary">Cancelar</a>
  </form>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>
</body>
</html>
