<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservas pendientes</title>
</head>
<body>
    <h1>Sistema alquiler habitaciones</h1>
    <h2>Reservas pendientes de confirmación</h2>


    <h2>Alquileres confirmados</h2>
    <table>
        <thead>
        <tr>
            <th>Casa</th>
            <th>Localización</th>
            <th>Fecha entrada</th>
            <th>Fecha salida</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iteración con th:each -->
        <tr th:each="bookings : ${bookingsConfirmed}">
            <td th:text="${bookings.getUserHouse().getTitle()}">Nombre</td>
            <td th:text="${bookings.getUserHouse().getLocation()}">Localización</td>
            <td th:text="${bookings.getEstimatedCheckin()}">Fecha checkin</td>
            <td th:text="${bookings.getEstimatedCheckout()}">Fecha checkout</td>
        </tr>
        </tbody>
    </table>

    <h2>Previsión de alquileres</h2>
    <table>
        <thead>
        <tr>
            <th>Casa</th>
            <th>Localización</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iteración con th:each -->
        <tr th:each="bookings : ${bookingsPendings}">
            <td th:text="${bookings.getUserHouse().getTitle()}">Nombre</td>
            <td th:text="${bookings.getUserHouse().getLocation()}">Localización</td>
        </tr>
        </tbody>
    </table>

    <p th:text="|Nuestro token es : ${user.tokenforRecommended}"|></p>

    <form action="/enviar-recomendacion" method="post">
        <!-- Nombre del usuario -->
        <label for="nombre">Token destino:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <!-- Correo electrónico -->
        <label for="email">Correo electrónico:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <!-- Recomendación o mensaje -->
        <label for="mensaje">Tu Recomendación:</label><br>
        <textarea id="mensaje" name="mensaje" rows="4" cols="50" required></textarea><br><br>

        <!-- Botón de envío -->
        <button type="submit">Enviar Recomendación</button>
    </form>

</body>
</html>