<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Panel de control de la aplicación</title>-->
<!--</head>-->
<!--<body>-->
<!--  <p>Datos de usuario</p>-->
<!--  <p th:text="${user}"></p>-->
<!--  <br>-->
<!--  <p>Lista de casas en propiedad...</p>-->
<!--  <br>-->
<!--  <p>Acciones como host...</p>-->
<!--  <br>-->
<!--  <p>Lista de casas alquiladas...</p>-->
<!--  <br>-->
<!--  <p>Acciones como huesped...</p>-->
<!--  <br>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('PANEL DE CONTROL')}"></head>

  <body>
  <nav th:replace="~{layout/navbar :: navbar}"></nav>

  <main class="container flex-grow-1">
      <div class="row">
          <div class="col-sm-9 mb-3 mb-sm-0">
<!--  Carta1    -->

  <div class="card shadow">
    <div class="card-body">
<!--    Titulo del panel de control-->
    <h3>
      <i class="fa-brands fa-whmcs"></i>
      <span th:text="|Panel de control del usuario &quot;${user.getUsername()}&quot;|">Panel de Control</span>
    </h3>

<!--      Datos de usuario  -->
    <h4>
      <i class="fa-regular fa-user"></i>
      <span th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></span>
    </h4>

<!--      Email  -->
    <h4>
      <i class="fa-solid fa-envelope"></i>
      <span th:text="${user.getEmail()}"></span>
    </h4>

    <h4>
      <i class="fa-solid fa-square-share-nodes"></i>
      <span th:text="${user.getTokenforRecommended()}"></span>
    </h4>
    </div>
  </div>
  </div>

<!--  Carta2    -->
  <div class="col-sm-3">
      <div class="card shadow">
          <div class="card-body">
              <!--    Titulo del panel de control-->
              <h3>
                  <div th:if="${#lists.isEmpty(listHouseHost)}">
                      <span>Sin casas en propiedad</span>
                  </div>
                  <div th:unless="${#lists.isEmpty(listHouseHost)}">
                    <span th:text="|${#lists.size(listHouseHost)} casas en propiedad|">Casas en propiedad</span>
                  </div>
              </h3>
              <h3>
                  <div th:if="${#lists.isEmpty(listHouseGuest)}">
                      <span>Sin casas alquiladas</span>
                  </div>
                  <div th:unless="${#lists.isEmpty(listHouseGuest)}">
                    <span th:text="|${#lists.size(listHouseGuest)} casas alquiladas|">Casas alquiladas</span>
                  </div>

              </h3>
          </div>
      </div>
    </div>
  </div>

  <br>

<!--  Acciones segun rol-->

  <div class="row gap-7">
  <div class="dropdown col col-md-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Acciones como Anfitrión
      </button>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Reservas pendientes</a></li>
          <li><a class="dropdown-item" href="#">Reservas confirmadas</a></li>
          <li><a class="dropdown-item" href="#">Reservas candeladas</a></li>
      </ul>
  </div>

  <div class="dropdown col col-md-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Acciones como Huésped
      </button>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Reservas pendientes</a></li>
          <li><a class="dropdown-item" href="#">Reservas confirmadas</a></li>
          <li><a class="dropdown-item" href="#">Reservas canceladas</a></li>
      </ul>
  </div>
  </div>

  <br>

<!--   Acordeon de vistas   -->

      <div class="accordion" id="accordionExample">
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      El usuario es anfitrión de las casas ...
                  </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
<!--                      Tabla Casas Anfitrion-->
                    <div th:unless="${#lists.isEmpty(listHouseHost)}">
                      <table class="table table-striped table-bordered">
                          <thead class="table-dark">
                          <tr>
                              <th>ID</th>
                              <th>Titulo</th>
                              <th>Precio noche</th>
                              <th>Provincia</th>
                              <th>Max.Huesped</th>
                              <th>Ver</th>
                          </tr>
                          </thead>
                          <tbody>
                          <!-- 'usuarios' es la lista pasada desde el controlador -->
                          <tr th:each="casa : ${listHouseHost}">
                              <td th:text="${casa.id}">1</td>
                              <td th:text="${casa.title}">Titulo</td>
                              <td th:text="${casa.pricePerNight}">10</td>
                              <td th:text="${casa.province}">Madrid</td>
                              <td th:text="${casa.maxGuests}">1</td>
                              <td><a th:href="@{/houses/{id}(id=${casa.id})}" class="btn btn-primary btn-sm">Ver</a></td>
                          </tr>
                          </tbody>
                      </table>
                    </div>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      El usuario es huesped de las casas ...
                  </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

<!--  Tabla de casas Huesped                     -->
                    <div th:unless="${#lists.isEmpty(listHouseGuest)}">
                      <table class="table table-striped table-bordered">
                          <thead class="table-dark">
                          <tr>
                              <th>ID</th>
                              <th>Titulo</th>
                              <th>Precio noche</th>
                              <th>Provincia</th>
                              <th>Max.Huesped</th>
                              <th>Ver</th>
                          </tr>
                          </thead>
                          <tbody>
                          <!-- 'usuarios' es la lista pasada desde el controlador -->
                          <tr th:each="casa : ${listHouseGuest}">
                              <td th:text="${casa.id}">1</td>
                              <td th:text="${casa.title}">Titulo</td>
                              <td th:text="${casa.pricePerNight}">10</td>
                              <td th:text="${casa.province}">Madrid</td>
                              <td th:text="${casa.maxGuests}">1</td>
                              <td><a th:href="@{/houses/{id}(id=${casa.id})}" class="btn btn-primary btn-sm">Ver</a></td>

                          </tr>
                          </tbody>
                      </table>
                    </div>

<!--       Fin casas Huesped               -->

                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Las reservas como anfitrión son ...
                  </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

<!--    Tabla de Reservas como Anfitrion-->


<!--          <p th:text="|Nro. de datos de alquileres como Host ${#lists.size(listBookingsHost)}|">-->

                      <div th:unless="${#lists.isEmpty(listBookingsHost)}">
                          <table class="table table-striped table-bordered">
                              <thead class="table-dark">
                              <tr>
                                  <th>Usuario</th>
                                  <th>Est.checkin</th>
                                  <th>Est.checkout</th>
                                  <th>Checkin</th>
                                  <th>Checkout</th>
                                  <th>Precio</th>
                                  <th>Estado</th>
                              </tr>
                              </thead>
                              <tbody>

                              <!-- 'usuarios' es la lista pasada desde el controlador -->
                              <tr th:each="booking : ${listBookingsHost}">
                                  <td th:text="${booking.userBooking.username}">1</td>
                                  <td th:text="${#temporals.format(booking.estimatedCheckin,'dd-MM-yyyy HH:mm')}">EstCheckin</td>
                                  <td th:text="${#temporals.format(booking.estimatedCheckout,'dd-MM-yyyy HH:mm')}">EstCheckout</td>
                                  <td th:text="${booking.checkin}">Checkin</td>
                                  <td th:text="${booking.checkout}">Checkout</td>
                                  <td th:text="${booking.totalPrice}">0</td>
                                  <td th:text="${booking.statusbooking}"></td>

                              </tr>
                              </tbody>
                          </table>
                      </div>

<!--        Fin tabla de reservas como Anfitrion              -->

                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      Las reservas como huésped son ...
                  </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                      <p th:text="|Nro. de datos de alquileres como Huesped ${#lists.size(listBookingGuest)}|">

                  </div>
              </div>
          </div>
      </div>


  <footer th:replace="~{layout/footer :: footer}"></footer>
  <script th:replace="~{layout/footer :: scripts}"></script>
  </main>
  </body>
</html>