<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('CASAS')}"></head>

<body>
<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1">
<!--    <div class="d-flex justify-content-between align-items-center mb-4">-->
<!--        <h1 class="mb-0" th:text="${title}">Restaurantes</h1>-->
<!--        <span class="badge bg-secondary fs-6" th:text="|${numRestaurants} resultados|">0 resultados</span>-->
<!--    </div>-->

<!--    FILTROS-->
    <a th:href="@{/houses(StatusReserva='DISPONIBLE')}" class="btn btn-sm btn-secondary">Casas Disponible</a>
    <a th:href="@{/houses(StatusReserva='RESERVADA')}" class="btn btn-sm btn-secondary">Casas Reservadas</a>


    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col" th:each="house : ${houses}">
            <div class="card card-restaurant h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa-solid fa-store text-primary me-2"></i>
                        <span th:text="${house.title}">Nombre</span>
                    </h5>
                    <p class="card-text">
                        <span class="badge bg-success">
                            <i class="fa-solid fa-euro-sign me-1"></i>
                            <span th:text="${house.pricePerNight}">0</span>
                        </span>
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0 pt-0">
                    <a th:href="@{/houses/{id}(id=${house.id})}"
                       class="btn btn-outline-primary btn-sm w-50">
                        <i class="fa-regular fa-eye me-1"></i> Ver Casa
                    </a>
<!--                    boton de desactivar casa-->
                    <a th:href="@{/houses/disable/{id}(id=${house.id})}"
                       class="btn btn-danger btn-sm w-50 mt-2">
                        <i class="fa-regular fa-ban me-1"></i> Ocultar Casa
                    </a>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="mt-4">-->
<!--        <a th:href="@{/restaurants/create}" class="btn btn-success">-->
<!--            <i class="fa-solid fa-plus me-1"></i> Crear restaurante-->
<!--        </a>-->
<!--    </div>-->
</main>


<!--<h1>LISTA DE CASA </h1>-->
<!--&lt;!&ndash;listado de casaes mostrando título, ubicación, precio por noche y anfitrión&ndash;&gt;-->
<!--<div th:each="house : ${houses}" class="card">-->
<!--    <h2 th:text="${house.title}">Título</h2>-->

<!--    <p th:text="${house.description}">Descripción</p>-->

<!--    <p>-->
<!--        📍 <span th:text="${house.location}">Ubicación</span>-->
<!--    </p>-->

<!--    <p>-->
<!--        👥 Máx huéspedes:-->
<!--        <span th:text="${house.maxGuests}">0</span>-->
<!--    </p>-->

<!--    <p class="price">-->
<!--        💶 <span th:text="${house.pricePerNight}">0</span> €/noche-->
<!--    </p>-->

<!--    <p>-->
<!--        👤 Anfitrión:-->
<!--        <span th:text="${house.host != null ? house.host.username : 'Sin anfitrión'}"></span>-->
<!--    </p>-->
<!--</div>-->

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>
</body>
</html>