<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('CASAS')}"></head>

<body>
<nav th:replace="~{layout/navbar :: navbar}"></nav>
<main class="container flex-grow-1">

    <div class="d-flex justify-content-end mb-3">
        <a th:href="@{/houses/new}" class="btn btn-success">
            <i class="fa-solid fa-plus me-1"></i> Crear restaurante
        </a>
    </div>

    <form th:action="@{/houses}" method="get">
<!--        <div class="mb-3">-->
<!--            <h5>Filtros rápidos</h5>-->
<!--            <a th:href="@{/houses(reserve='DISPONIBLE')}" class="btn btn-sm btn-secondary">Casas Disponible</a>-->
<!--            <a th:href="@{/houses(reserve='RESERVADA')}" class="btn btn-sm btn-secondary">Casas Reservadas</a>-->
<!--            <a th:href="@{/houses}" class="btn btn-sm btn-secondary">Todas</a>-->
<!--        </div>-->

        <div class="mb-3 row">
            <div class="col-sm-4">
                <input type="number"
                       th:name="pricePerNight"
                       class="form-control"
                       placeholder="Precio máximo por noche" />
            </div>

            <div class="col-sm-4">
                <select th:name="province" class="form-select form-control" th:value="${selectedProvince}">
                    <option value="">Todas las provincias</option>
                    <option th:each="p : ${provinces}"
                            th:value="${p}"
                            th:text="${p}"></option>
                </select>
            </div>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-magnifying-glass"></i>
                Buscar
            </button>
            <a th:href="@{/houses}" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-broom"></i>
                Limpiar filtros
            </a>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-1">
        <div class="col" th:each="house : ${houses}">
            <div class="card card-restaurant h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa-solid fa-store text-primary me-2"></i>
                        <span th:text="${house.title}">Nombre</span>
                    </h5>
                    <p class="card-text">
                        <span class="badge bg-success">
                            <i class="fa-solid fa-euro-sign me-1"></i>
                            <span th:text="${house.pricePerNight}">0</span>
                        </span>
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0 pt-0">
                    <a th:href="@{/houses/{id}(id=${house.id})}"
                       class="btn btn-outline-primary btn-sm w-50">
                        <i class="fa-regular fa-eye me-1"></i> Ver Casa
                    </a>
<!--                    boton de desactivar casa-->
                    <a th:href="@{/houses/disable/{id}(id=${house.id})}"
                       class="btn btn-danger btn-sm w-500 mt-2">
                        <i class="fa-solid fa-house-circle-xmark"></i> Ocultar Casa
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>
</body>
</html>



<!--<main class="container flex-grow-1">-->

<!--<div class="d-flex justify-content-start">-->
<!--    <a th:href="@{/houses/new}" class="btn btn-success">-->
<!--        <i class="fa-solid fa-plus me-1"></i> Crear restaurante-->
<!--    </a>-->
<!--</div>-->


<!--    <form th:action="@{/houses}" method="get">-->
<!--        <div class="mb-3">-->
<!--            <h5>Filtros rápidos</h5>-->
<!--            <a th:href="@{/houses(reserve='DISPONIBLE')}" class="btn btn-sm btn-secondary">Casas Disponible</a>-->
<!--            <a th:href="@{/houses(reserve='RESERVADA')}" class="btn btn-sm btn-secondary">Casas Reservadas</a>-->
<!--            <a th:href="@{/houses}" class="btn btn-sm btn-secondary">Todas</a>-->
<!--        </div>-->

<!--        <div class="mb-3 row">-->
<!--            <div class="col-sm-4 ">-->
<!--&lt;!&ndash;                <label>Precio máximo por noche</label>&ndash;&gt;-->
<!--                <input type="number"-->
<!--                       th:name="pricePerNight"-->
<!--                       class="form-control"-->
<!--                       placeholder="Precio máximo por noche" />-->
<!--            </div>-->
<!--&lt;!&ndash;            <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <label>Búsqueda por título</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:name="title"&ndash;&gt;-->
<!--&lt;!&ndash;                       class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                       placeholder="Buscar por título" />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:name="province"&ndash;&gt;-->
<!--&lt;!&ndash;                       class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                       placeholder="Buscar por Provincia" />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <div class="col-sm-4">-->
<!--&lt;!&ndash;                <label>Provincia</label>&ndash;&gt;-->
<!--                <select th:name="province" class="form-select  form-control" th:value="${selectedProvince}">-->
<!--                    <option value="">Todas las provincias</option>-->
<!--                    <option th:each="p : ${provinces}"-->
<!--                            th:value="${p}"-->
<!--                            th:text="${p}" />-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-auto">-->
<!--            <button type="submit" class="btn btn-primary btn-sm">-->
<!--                <i class="fa-solid fa-magnifying-glass"></i>-->
<!--                Buscar-->
<!--            </button>-->
<!--            <a th:href="@{/houses}" class="btn btn-danger btn-sm">-->
<!--                <i class="fa-solid fa-broom"></i>-->
<!--                Limpiar filtros-->
<!--            </a>-->
<!--        </div>-->
<!--    </form>-->