<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('Alquiler de casa')}"></head>

<body>
<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1 my-4 shadow">

  <h1>
    <i class="fa-solid fa-utensils text-primary me-2"></i>Formulario de casa
  </h1>
<!--TODO FORMULARIO PARA CREAR O EDITAR UNA CASA-->
</main>


<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>