<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/head :: head('CASAS')}"></head>

<body>
<nav th:replace="~{layout/navbar :: navbar}"></nav>
<main class="container flex-grow-1">

    <div class="d-flex justify-content-end mb-3">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/houses/new}" class="btn btn-success">
            <i class="fa-solid fa-plus me-1"></i> Crear álquiler
        </a>
    </div>

    <form th:action="@{/houses}" method="get">
<!--        <div class="mb-3">-->
<!--            <h5>Filtros rápidos</h5>-->
<!--            <a th:href="@{/houses(reserve='DISPONIBLE')}" class="btn btn-sm btn-secondary">Casas Disponible</a>-->
<!--            <a th:href="@{/houses(reserve='RESERVADA')}" class="btn btn-sm btn-secondary">Casas Reservadas</a>-->
<!--            <a th:href="@{/houses}" class="btn btn-sm btn-secondary">Todas</a>-->
<!--        </div>-->

        <div class="mb-3 row">
            <div class="col-sm-4">
                <input type="number"
                       th:name="pricePerNight"
                       class="form-control"
                       placeholder="Precio máximo por noche" />
            </div>

            <div class="col-sm-4">
                <select th:name="province" class="form-select form-control" th:value="${selectedProvince}">
                    <option value="">Todas las provincias</option>
                    <option th:each="p : ${provinces}"
                            th:value="${p}"
                            th:text="${p}"></option>
                </select>
            </div>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-magnifying-glass"></i>
                Buscar
            </button>
            <a th:href="@{/houses}" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-broom"></i>
                Limpiar filtros
            </a>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-1">
        <div class="col" th:each="house : ${houses}">
            <div class="card card-restaurant h-100 shadow-sm">
                <img th:src="@{'/images/' + ${house.imageUrl}}"
                     class="card-img-top"
                     alt="Imagen de la casa"
                     style="height: 200px; object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa-solid fa-store text-primary me-2"></i>
                        <span th:text="${house.title}">Nombre</span>
                    </h5>
                    <div class="mb-2">
                        <span th:if="${houseRatings[house.id] > 0.0}" class="badge bg-warning text-dark">
                            <i class="fa-solid fa-star me-1"></i> <span th:text="${#numbers.formatDecimal(houseRatings[house.id], 1, 1)}"></span>
                        </span>
                        <span th:if="${houseRatings[house.id] == 0.0}" class="badge bg-secondary">
                            Nuevo
                        </span>
                    </div>
                    <p class="card-text">
                        <span class="badge bg-success">
                            <i class="fa-solid fa-euro-sign me-1"></i>
                            <span th:text="${house.pricePerNight}">0</span>
                        </span>
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0 pt-0 d-flex justify-content-between align-items-center">
                    <div>
                        <a th:href="@{/houses/{id}(id=${house.id})}"
                           class="btn btn-outline-primary btn-sm w-40">
                            <i class="fa-regular fa-eye me-1"></i> Ver Casa
                        </a>
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/houses/deactivate/{id}(id=${house.id})}"
                           class="btn btn-danger btn-sm w-40 ">
                            <i class="fa-solid fa-house-circle-xmark"></i> Desactivar
                        </a>
                    </div>
                    <form sec:authorize="isAuthenticated()" th:action="@{/favorites/toggle}" method="post" class="m-0 p-0">
                        <input type="hidden" name="id" th:value="${house.id}" />
                        <input type="hidden" name="redirectUrl" value="/houses" />
                        <button type="submit" class="btn btn-sm btn-link text-decoration-none favorite-btn p-0"
                                th:classappend="${favoritesHouses != null and favoritesHouses.contains(house.id)} ? 'text-danger' : 'text-secondary'">
                            <i th:class="${favoritesHouses != null and favoritesHouses.contains(house.id)} ? 'fa-solid fa-heart fs-4' : 'fa-regular fa-heart fs-4'"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>
</body>
</html>
