
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('PANEL DE CONTROL')}"></head>

<body>
<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1">

  <h2>Formulario de recomendación</h2>

<!--  Consumimos el Flash Attribute-->

    <div th:if="${errorMessage}" class="alert alert-success" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>

    <!--    Formulario de entrada de datos-->

    <div>
        <a th:href="@{/agenda}" class="btn btn-primary mb-2">
            <i class="fa-solid fa-clipboard-list"></i>Agenda</a>
    </div>

    <form th:action="@{/recommended}" method="post">
        <!--        Estimatedcheckin-->
      <input type="hidden" name="houseId" th:value="${recommendation.houseRecommended.id}" readonly/>
      <input type="hidden" name="userFromId" th:value="${recommendation.userFrom.id}" readonly/>


      <input type="hidden" th:value="${recommendation.userFrom.firstName}" readonly/>
      <input type="hidden" th:value="${recommendation.userFrom.lastName}" readonly/>

      <div class="mb-3">
        <label for="tokenfrom" class="form-label">Token personal : </label>
        <input type="text" class="form-control" id="tokenfrom"
               name="tokenfrom" th:value="${recommendation.userFrom.tokenforRecommended}"
                required/>
      </div>
        <div class="mb-3">
            <label for="correofrom" class="form-label">Email personal : </label>
            <input type="text" class="form-control" id="correofrom"
                   name="correofrom" th:value="${recommendation.userFrom.email}"
            />
        </div>
    <div class="mb-3">
      <label for="tokenTo" class="form-label">Token destinatario :</label>
      <input type="text" class="form-control" id="tokenTo"
             name="tokenTo"
             />
        <!--  th:field="*{userTo.tokenforRecommended}"-->
    </div>
    <div class="mb-3">
      <label for="emailTo" class="form-label">Email destino :</label>
      <input type="text" class="form-control" id="emailTo"
             name="emailTo"
             />
        <!--th:field="*{userTo.email}"-->
    </div>
      <div class="mb-3">
          <label for="message" class="form-label">Mensaje :</label>
          <textarea rows="4" class="form-control" id="message"
                 name="message" placeholder="Ubicación. Precio. Servicios. Condiciones"
          ></textarea>
      </div>
      <div>
            <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i>Guardar</button>
<!--            <a th:href="@{/panel-control/{idUsuario}(idUsuario=${recommendation.idUsuario})}" class="btn btn-secondary"><i class="fa-solid fa-xmark"></i>Cancelar</a>&ndash;&gt;-->
      </div>
  </form>

  <footer th:replace="~{layout/footer :: footer}"></footer>
  <script th:replace="~{layout/footer :: scripts}"></script>
</main>

</body>
</html>

