<!DOCTYPE html>
<html lang="en">

<head th:replace="~{layout/head :: head('Vista de las reservas pendientes')}"></head>

<body>
<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1 my-4 shadow">

<h2>Revista de recomendaciones</h2>

    <div class="container">

        <div>
            <a th:href="@{/agenda}" class="btn btn-primary mb-2">
                <i class="fa-solid fa-clipboard-list"></i>Agenda</a>
        </div>

        <div class="row">
            <!-- Primera Lista Dinámica: Recomendaciones From -->
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        Recomendaciones lanzadas
                    </div>
                    <ul class="list-group list-group-flush" th:if="${not #lists.isEmpty(recommfrom)}">

                       <div class="col" th:each="cat : ${recommfrom}">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="title" th:text="|${cat.userTo.firstName} ${cat.userTo.lastName}|"></h5>
                                    <p class="card-text" th:text="${#temporals.format(cat.timeRecommended, 'dd/MM/yyyy')}"></p>
                                    <p class="card-text" th:text="${cat.message}"></p>
                                </div>
                                    <a th:href="@{/houses/{id}(id=${cat.houseRecommended.id})}" class="btn btn-primary">
                                        Enlace</a>
                            </div>
                        </div>
                    </ul>
                    <div class="card-body text-muted" th:if="${#lists.isEmpty(recommfrom)}">
                        No hay recomendaciones.
                    </div>
                </div>
            </div>


            <!-- Segunda Lista Dinámica: Recomendaciones To -->
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        Recomendaciones recibidas
                    </div>
                    <ul class="list-group list-group-flush" th:if="${not #lists.isEmpty(recommto)}">

                        <div class="col" th:each="cat : ${recommto}">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="title" th:text="|${cat.userFrom.firstName} ${cat.userFrom.lastName}|"></h5>
                                    <p class="card-text" th:text="${#temporals.format(cat.timeRecommended, 'dd/MM/yyyy')}"></p>
                                    <p class="card-text" th:text="${cat.message}"></p>
                                </div>
                                <a th:href="@{/houses/{id}(id=${cat.houseRecommended.id})}" class="btn btn-primary">
                                    Enlace</a>
                            </div>
                        </div>
                    </ul>
                    <div class="card-body text-muted" th:if="${#lists.isEmpty(recommto)}">
                        No hay recomendaciones.
                    </div>
                </div>
            </div>
          </div>
    </div>

</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>
</body>
</html>